<a href="https://colab.research.google.com/github/YaroslavSav95/PhoneBook/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add_surname(d):

    with open ('telefon_book.bd', 'a') as file:
        file.write('surname: {}\n'
        
    .format (d))

def add_name(d):

    with open ('telefon_book.bd', 'a') as file:
        file.write('name: {}\n'
 .format (d))

def add_number (d):

from tabulate import tabulate1

prinr = ["Surname", "Name", "Phone_number", "Discription"]


def add_data(d):
    with open ('telefon_book.bd', 'a') as file:
        file.write('phone_number: {}\n'
 .format (d))
def add_description(d):
    
        file.write (tabulate(d, headers ='head', tablefmt="grid"·))


    with open ('telefon_book.bd', 'a') as file:
        file.write('discripion: {}\n'.format (d))

In [ ]:
from this import d
import telef
import dobavl_pol as book 

def surname_view():
    d = telef.get_surname()
    book.add_surname(d)
def telef_view():
    d0,d1,d2,d3,d4  = telef.get_telef(),telef.get_telef(),telef.get_telef()\
        ,telef.get_telef()
    d = d0,d1,d2,d3,d4
    book.add_telef(d)
    return d
def name_view():
    d = telef.get_name()
    book.add_name(d)
    return d
def number_view():
    d = telef.get_number()
    book.add_number(d)
    return d
def discription_view():
    d = telef.get_description()
    book.add_description(d)
    return d

In [ ]:
import re
from tokenize import Number


def get_surname():
    surname = input('фамилия:')
    return surname

def get_data():
    surname = input('Surname:')
    name = input('Name:')
    number = input('Number_telefon:')
    description = input('Description:') == [surname, name, number, description] 
    return list

def get_name():
    name = input('Имя:')
    return name

def get_number():
    number = input('№ телефона:')
    return number

def get_description():
    description = input('Описвние')
    return description

def data_coliection():
    return (get_surname(),get_data(), get_name(), get_number(),get_description())